:root{
  --orange:#FA8B02;
  --dark-gray:#333333;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 0 250px;
}
.font-600-20{
  font-size: 20px;
  font-weight: 600;
}
.font-400-18{
  font-size: 18px;
  font-weight: 400;
}
.font-400-16{
  font-size: 16px;
  font-weight: 400;
}
.font-400-20{
  font-size: 20px;
  font-weight: 400;
}
.font-400-72{
  font-size: 72px;
  font-weight: 400;
}
.font-600-18{
  font-size: 18px;
  font-weight: 600;
}
.font-600-16{
  font-size: 16px;
  font-weight: 600;
}
.font-700-24{
  font-size: 24px;
  font-weight: 700;
}
.font-800-24{
  font-size: 24px;
  font-weight: 800;
}
.font-800-32{
  font-size: 32px;
  font-weight: 800;
  color: var(--dark-gray);
}
.font-800-20{
  font-size: 20px;
  font-weight: 800;
}
.font-700-32{
  font-size: 32px;
  font-weight: 700;
}
body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Podcast';
  src: url('./../assets/fonts/Podcast.ttf') format('truetype');
  font-weight: 400; /* يمكنك ضبط الوزن حسب حاجتك */
  font-style: normal;
}

.podcast-text {
  font-family: 'Podcast', cursive;
  font-weight: 400;
  font-size: 72px;
}

.dark-gray{
  color: var(--dark-gray)
 }
 .orange{
  color: var(--orange)
 }
