.backgrund {
    background-image: url('./../../assets/images/bg.png');
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}
.bikeImg {
    position: absolute;
    bottom: 0;
    right: 250px;
}
.dashbord h2{
    text-align: center;
}
.dashbord{   
    width: 50%;
    display: flex;
    flex-direction: column;
}
  
  .bookingForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 36px;
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 24px;
    background-color: #FFFFFF4D;
  }
  
  .formGroup {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }
  
  .label {
    color: #333;
  }
  
  .inputContainer input,
  .inputContainer select  {
    width:100%;
    padding: 14px 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--dark-gray);
    border: none;
}
  
  .submitButton {
    padding: 12px 57.11px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: var(--orange);
    color: white;
    border: none;width: max-content;


}
.buttonContainer {
    display: flex;
    justify-content: center; /* يجعل الزر في المنتصف */
    margin-top: 20px;
  }
  
  .submitButton:hover {
    background-color: #e07b00;
  }
  